@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.App {
  font-family: "Patrick Hand", cursive;
  text-align: center;
}

body {
  font-size: 1.5rem;
  background-color: #fffbeb;
}

hr {
  width: 80%;
}

.btn {
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  background-color: #ecfdf5;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.items {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #fef2f2;
}
